/* GLOBAL STYLES */
/* Padding below the footer and lighter body text */

body
{
  padding-bottom: 40px;
  background-color: #F2F2F2;
  color: #5a5a5a;
}

textarea {
    height: 50px;
    width: 600px;
}

.supporting {
    height: 25px;
    width: 600px;
}

/* Top bar */
#header {
    position: relative;
    text-align: center;
    height: 110px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Carousel base class */

.carousel {
  margin-bottom: 60px;
}

.carousel .container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel-control {
  background-color: transparent;
  border: 0;
  font-size: 120px;
  margin-top: 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel .item {
  height: 500px;
  background-image: url('../img/debut_dark.png');
  background-repeat: repeat;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 800px;
  padding: 0 20px;
  margin-bottom: 50px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}

/* RESPONSIVE CSS */

@media (max-width: 979px) {
  .carousel .item {
    height: 500px;
  }
  .carousel img {
    width: auto;
    height: 500px;
  }
}


@media (max-width: 767px) {
  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  .carousel .container {

  }
  .carousel .item {
    height: 300px;
  }
  .carousel img {
    height: 300px;
  }
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-bottom: 40px;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 18px;
  }
}