/* GLOBAL STYLES */
/* Padding below the footer and lighter body text */

html
{
    height: 100%;
}

body
{
  height: 100%;
  /*padding-bottom: 40px;*/
  background-color: #272822;
  color: #66d9ef;
  /*overflow: hidden;*/
}

textarea {
    height: 25px;
    width: 750px;
}

.supporting {
    height: 25px;
    width: 750px;
}

/* Essay output styling */
#essay {
    overflow: auto;
}

.double-spaced {
    line-height: 250%;
}

/* Proof of concept of highlighted text */
.highlight-text {
    color: #f8f8ed;
}

.highlight-idea {
    color: #f8f8ed;
}

/* Carousel */
.carousel {
    margin-bottom: 60px;
}

.carousel .container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-control {
    background-color: transparent;
    border: 0;
    font-size: 40px;
    margin-top: 15px;
    margin-right: 80px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel .item {
    height: 250px;
    background-image: url('../img/debut_dark.png');
    background-repeat: repeat;
}

.carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 800px;
    padding: 0 20px;
    margin-bottom: 40px;
}
.carousel-caption h2,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel-caption .btn {
    margin-top: 10px;
}

/* TODO */
/* RESPONSIVE CSS */
@media (max-width: 979px) {
  .carousel .item {
    height: 250px;
  }
  .carousel img {
    width: auto;
    height: 250px;
  }
}


@media (max-width: 767px) {
  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }

  .carousel .container {

  }

  .carousel .item {
    height: 250px;
  }

  .carousel img {
    height: 250px;
  }

  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-bottom: 40px;
  }

  .carousel-caption h1 {
    font-size: 30px;
  }

  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 18px;
  }

  #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
}

/* Sticky Footer */
/* Wrapper for page content to push down footer */
#wrap {
    /*min-height: 100%;*/
    /*height: auto !important;*/
    /*height: 100%;*/
    overflow: auto;
    
    /* Negative indent footer by it's height */
    margin: 0 auto -250px;
}

/* Set the fixed height of the footer here */
#push, #footer {
    height: 250px;
}

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}